
p{color:green}
h1{color:blue;background-color:pink}
h2{color:blue;background-color:pink}
h3{color:green}
h4{color:light-blue}
img{border-style:double;border-width:20px;border-color:pink purple blue green}
body{background:C:\Users\ushag\Downloads\SHAREit\Redmi 5\Documents\123/2017-07-20-15-27-41-759.jpg}